In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\natal\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\natal\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\natal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\natal\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\natal\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\natal\appdata\local\programs\python\python311\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
import psycopg2

In [343]:
#Se hace la conexión con Postgres y el data base llamado "Proyecto"
conn = psycopg2.connect(user='postgres',password='1234',host='127.0.0.1',port='5432',database='Proyecto')

In [344]:
#utilizar cursor
cursor = conn.cursor()

In [7]:
#Se cargan los archivos
artists_df = pd.read_csv('artists_new.csv')
tracks_df = pd.read_csv("tracks_new.csv")

In [38]:
#Crear tabla de Genres
genres_df = artists_df["Main_genre"]
genres_df = genres_df.drop_duplicates()
genres_df.to_frame

<bound method Series.to_frame of 0             unknown
45              other
136         classical
148               pop
155              folk
159        electronic
167      instrumental
175           hip hop
181               rap
189             indie
280            gospel
315             tango
323              rock
324             blues
335             metal
345           folclor
351              punk
365            cumbia
391            reggae
421              trap
432          hardcore
458            techno
463              jazz
467       alternative
603             disco
942           country
972               ska
1539           ballad
1543         ranchera
1566             soul
1629            banda
1782        orchestra
1973          corrido
2964          bachata
2977             funk
3605            opera
3613           grunge
3641            salsa
3749        vallenato
4212            samba
4264            mambo
4568        percusion
4622       motivation
7273         flamenco
7729           bolero
7750       son cubano
11775        merengue
12561            trio
Name: Main_genre, dtype: object>

In [42]:
#Se crean los nuevos identificadores para genre que serán enumerar los géneros de 1 a 48
df = pd.DataFrame({'id': range(1, 49)})
print(df)

    id
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23
23  24
24  25
25  26
26  27
27  28
28  29
29  30
30  31
31  32
32  33
33  34
34  35
35  36
36  37
37  38
38  39
39  40
40  41
41  42
42  43
43  44
44  45
45  46
46  47
47  48

In [43]:
genres_df = pd.concat([df, genres_df], axis=1)

In [62]:
print(genres_df)

    id    Main_genre
0    1       unknown
1    2         other
2    3     classical
3    4           pop
4    5          folk
5    6    electronic
6    7  instrumental
7    8       hip hop
8    9           rap
9   10         indie
10  11        gospel
11  12         tango
12  13          rock
13  14         blues
14  15         metal
15  16       folclor
16  17          punk
17  18        cumbia
18  19        reggae
19  20          trap
20  21      hardcore
21  22        techno
22  23          jazz
23  24   alternative
24  25         disco
25  26       country
26  27           ska
27  28        ballad
28  29      ranchera
29  30          soul
30  31         banda
31  32     orchestra
32  33       corrido
33  34       bachata
34  35          funk
35  36         opera
36  37        grunge
37  38         salsa
38  39     vallenato
39  40         samba
40  41         mambo
41  42     percusion
42  43    motivation
43  44      flamenco
44  45        bolero
45  46    son cubano
46  47      merengue
47  48          trio

In [63]:
genres_df.to_csv('genres.csv', index=False)

In [8]:
genres_df = pd.read_csv('genres.csv')

In [77]:
#reemplazar la columana "main_genre" en el df artists por el id del genre
artists_df = artists_df.merge(genres_df[['id', 'Main_genre']], on='Main_genre', how='left')
artists_df = artists_df.drop('Main_genre', axis=1)
artists_df = artists_df.rename(columns={'id': 'Main_genre'})
artists_df = artists_df.rename(columns={'id_x': 'id_genre'})
artists_df = artists_df.drop('id_y', axis=1)

In [78]:
print(artists_df)

                             Id  Followers  \
0        0DheY5irMjBUeLybbCUEZ2        0.0
1        0DlhY15l3wsrnlfGio2bjU        5.0
2        0DmRESX2JknGPQyO15yxg7        0.0
3        0DmhnbHjm1qw6NCYPeZNgJ        0.0
4        0Dn11fWM7vHQ3rinvWEl4E        2.0
...                         ...        ...
1162090  3cOzi726Iav1toV2LRVEjp     4831.0
1162091  6LogY6VMM3jgAE6fPzXeMl       46.0
1162092  19boQkDEIay9GaVAWkUhTa      257.0
1162093  5nvjpU3Y7L6Hpe54QuvDjy     2357.0
1162094  2bP2cNhNBdKXHC6AnqgyVp       40.0

                                                   Name  Popularity  id_genre
0        Armid & Amir Zare Pashai feat. Sara Rouzbehani           0         1
1                                           ปูนา ภาวิณี           0         1
2                                                 Sadaa           0         1
3                                             Tra gruda           0         1
4                                Ioannis Panoutsopoulos           0         1
...                                                 ...         ...       ...
1162090                                      Ali Siddiq          34         2
1162091                                    Rodney Laney           2         1
1162092                                    Blake Wexler          10         1
1162093                                Donnell Rawlings          15         2
1162094                                        Gabe Kea           8         2

[1162095 rows x 5 columns]

In [79]:
#guardar en un csv el df de artist modificado
artists_df.to_csv('artists_new.csv', index=False)

In [ ]:
#Se crea una tupla entre canción y aristas para poder relacionarlas

In [189]:
## CREAR Y CARGAR TABLA GENRES
# Crear un cursor para ejecutar comandos en la base de datos
cursor = conn.cursor()

# Crear una tabla en la base de datos
table_name = 'genres'
create_table_query = '''
CREATE TABLE {} (
     id SERIAL PRIMARY KEY ,
     Main_genre TEXT
)
'''.format(table_name)
cursor.execute(create_table_query)
conn.commit()

# Insertar los datos del DataFrame en la tabla
df = pd.read_csv('genres.csv')
for index, row in df.iterrows():
    insert_row_query = '''
    INSERT INTO {} (id, Main_genre)
    VALUES ('{}', '{}')
    '''.format(table_name, row['id'], row['Main_genre'])
    cursor.execute(insert_row_query)
conn.commit()

DuplicateTable: la relación «genres» ya existe

In [345]:
## CREAR Y CARGAR TABLA arts_tracks
# Crear un cursor para ejecutar comandos en la base de datos
#cursor = conn.cursor()

# Crear una tabla en la base de datos
table_name = 'arts_tracks'
create_table_query = '''
CREATE TABLE {} (
     Id VARCHAR(300),
     artistas VARCHAR(300)
)
'''.format(table_name)
cursor.execute(create_table_query)
conn.commit()

# Insertar los datos del DataFrame en la tabla
df = pd.read_csv('inter.csv')
for index, row in df.iterrows():
    insert_row_query = '''
    INSERT INTO {} (Id, artistas)
    VALUES ('{}', '{}')
    '''.format(table_name, row['Id'], row['artistas'])
    cursor.execute(insert_row_query)
conn.commit()

conn.close()

In [113]:
arts_tracks = arts_tracks[arts_tracks['Id'] != '4y8e4e5TAOrJwG0yTo8Pus']

In [89]:
## CREAR Y CARGAR TABLA ARTISTS

# Crear una tabla en la base de datos
table_name = 'artists'
create_table_query = '''
CREATE TABLE {} (
     Id VARCHAR(50) PRIMARY KEY REFERENCES arts_tracks(artistas),
     Followers NUMERIC,
     Name VARCHAR(300),
     Popularity NUMERIC,
     id_genre INTEGER REFERENCES genres(id)
)
'''.format(table_name)
cursor.execute(create_table_query)
conn.commit()

# Insertar los datos del DataFrame en la tabla
df = pd.read_csv('artists_new.csv')
for index, row in df.iterrows():
    insert_row_query = '''
    INSERT INTO {} (Id, Followers, Name, Popularity, id_genre )
    VALUES ('{}', '{}', '{}', '{}', '{}')
    '''.format(table_name, row['Id'], row['Followers'], row['Name'], row['Popularity'], row['id_genre'])
    cursor.execute(insert_row_query)
conn.commit()

# Cerrar la conexión a la base de datos
#cursor.close()
#conn.close()

In [128]:
#Se eliminan los corchetes cuadrados y las comillas que tienen artist y artist_id en el df tracks
tracks_df['artists'] = tracks_df['artists'].str.replace("[", "").str.replace("]", "").str.replace("'", "")
tracks_df['id_artists'] = tracks_df['id_artists'].str.replace("[", "").str.replace("]", "").str.replace("'", "")
tracks_df['name'] = tracks_df['name'].str.replace("'", "")

C:\Users\natal\AppData\Local\Temp\ipykernel_340\2896658856.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tracks_df['artists'] = tracks_df['artists'].str.replace("[", "").str.replace("]", "").str.replace("'", "")
C:\Users\natal\AppData\Local\Temp\ipykernel_340\2896658856.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tracks_df['id_artists'] = tracks_df['id_artists'].str.replace("[", "").str.replace("]", "").str.replace("'", "")

In [129]:
print(tracks_df)

                            id                                 name  \
0       35iwgR4jXetI318WEWsa1Q                                Carve
1       021ht4sdgPcrDgSk7JTbKY  Capítulo 2.16 - Banquero Anarquista
2       07A5yehtSnoedViJAZkNnc   Vivo para Quererte - Remasterizado
3       08FmqUhxtyLTn6pAh6bk45        El Prisionero - Remasterizado
4       08y9GfoqCWfOGsKdwojr5e                  Lady of the Evening
...                        ...                                  ...
586596  5rgu12WBIHQtvej2MdHSH0                                  云与海
586597  0NuWgxEp51CutD2pJoF4OM                                blind
586598  27Y1N4Q4U3EfDU5Ubw8ws2             What Theyll Say About Us
586599  45XJsGpFTyzbzeWK8VzR8S                      A Day At A Time
586600  5Ocn6dZ3BJFPWh4ylwFXtn                     Mar de Emociones

        popularity  duration_min  explicit                    artists  \
0                6      2.115050         0                        Uli
1                0      1.636667         0            Fernando Pessoa
2                0      3.027333         0            Ignacio Corsini
3               27      2.948450         0            Ignacio Corsini
4                0      2.718000         0                Dick Haymes
...            ...           ...       ...                        ...
586596          50      4.304450         0                    阿YueYue
586597          72      2.554883         0                 ROLE MODEL
586598          70      3.126683         0                    FINNEAS
586599          58      2.366717         0  Gentle Bones, Clara Benin
586600          27      3.572667         0                  Afrosound

                                            id_artists  release_date  \
0                               45tIt06XoI0Iio4LBEVpls          1922
1                               14jtPCOoNZwquk5wd9DxrY          1922
2                               5LiOoJbxVSAMkBS2fUm3X2          1922
3                               5LiOoJbxVSAMkBS2fUm3X2          1922
4                               3BiJGZsyX9sJchTqcSA7Su          1922
...                                                ...           ...
586596                          1QLBXKM5GCpyQQSVMNZqrZ          2020
586597                          1dy5WNgIKQU6ezkpZs4y8z          2020
586598                          37M5pPGs6V1fchFJSgCguX          2020
586599  4jGPdu95icCKVF31CcFKbS, 5ebPSE9YI5aLeZ1Z2gkqjn          2021
586600                          0i4Qda0k4nf7jnNHmSNpYv          2015

        danceability    energy   key  loudness  mode speechiness  \
0              0.645  0.445000   0.0   -13.338   1.0    Medio SP
1              0.695  0.263000   0.0   -22.136   1.0     Alto SP
2              0.434  0.177000   1.0   -21.180   1.0     Bajo SP
3              0.321  0.542195   7.0   -27.961   1.0     Bajo SP
4              0.402  0.158000   3.0   -16.900   0.0     Bajo SP
...              ...       ...   ...       ...   ...         ...
586596         0.560  0.518000   0.0    -7.471   0.0     Bajo SP
586597         0.765  0.663000   0.0    -5.223   1.0     Bajo SP
586598         0.535  0.314000   7.0   -12.823   0.0     Bajo SP
586599         0.696  0.615000  10.0    -6.212   1.0     Bajo SP
586600         0.686  0.723000   6.0    -7.067   1.0     Bajo SP

        acousticness  instrumentalness  liveness   valence    tempo  \
0              0.674          0.744000    0.1510  0.127000  104.851
1              0.797          0.000000    0.1480  0.655000  102.009
2              0.994          0.021800    0.2120  0.457000  130.418
3              0.995          0.918000    0.1040  0.397000  169.980
4              0.989          0.130000    0.3110  0.196000  103.220
...              ...               ...       ...       ...      ...
586596         0.785          0.000000    0.0648  0.211000  131.896
586597         0.141          0.000297    0.0924  0.686000  150.091
586598         0.895          0.000150    0.0874  0.552275  145.095
586599         0.206          0.000003    0.3050  0.438000   90.029
586600         0.105          0.000000    0.2640  0.975000  112.204

        time_signature
0                  3.0
1                  1.0
2                  5.0
3                  3.0
4                  4.0
...                ...
586596             4.0
586597             4.0
586598             4.0
586599             4.0
586600             4.0

[586601 rows x 20 columns]

In [53]:
arts_tracks = tracks_df.assign(artistas=tracks_df.id_artists.str.split(', ')) \
                                 .explode('artistas')

In [56]:
print(arts_tracks)

                            id                artistas
0       35iwgR4jXetI318WEWsa1Q  45tIt06XoI0Iio4LBEVpls
1       021ht4sdgPcrDgSk7JTbKY  14jtPCOoNZwquk5wd9DxrY
2       07A5yehtSnoedViJAZkNnc  5LiOoJbxVSAMkBS2fUm3X2
3       08FmqUhxtyLTn6pAh6bk45  5LiOoJbxVSAMkBS2fUm3X2
4       08y9GfoqCWfOGsKdwojr5e  3BiJGZsyX9sJchTqcSA7Su
...                        ...                     ...
586597  0NuWgxEp51CutD2pJoF4OM  1dy5WNgIKQU6ezkpZs4y8z
586598  27Y1N4Q4U3EfDU5Ubw8ws2  37M5pPGs6V1fchFJSgCguX
586599  45XJsGpFTyzbzeWK8VzR8S  4jGPdu95icCKVF31CcFKbS
586599  45XJsGpFTyzbzeWK8VzR8S  5ebPSE9YI5aLeZ1Z2gkqjn
586600  5Ocn6dZ3BJFPWh4ylwFXtn  0i4Qda0k4nf7jnNHmSNpYv

[757099 rows x 2 columns]

In [55]:
arts_tracks = arts_tracks[["id","artistas"]]

In [320]:
arts_tracks = arts_tracks[arts_tracks['artistas'] != '5jGD3ChVOXHYNKybvareH0']

In [321]:
arts_tracks.to_csv('inter.csv', index=False)

In [336]:
tabla_nueva = arts_tracks.iloc[:360]

In [337]:
tabla_nueva.to_csv('inter2.csv', index=False)

In [94]:
arts_tracks = arts_tracks.rename(columns={'id': 'Id'})

In [106]:
columnas_a_considerar = ['Id', 'artistas'] # las columnas que deseas conservar de la tabla1
tabla_cruzada = pd.merge(arts_tracks, artists_df, on='Id', how='left')

In [107]:
print(tabla_cruzada)

                            Id                artistas  Followers Name  \
0       35iwgR4jXetI318WEWsa1Q  45tIt06XoI0Iio4LBEVpls        NaN  NaN
1       021ht4sdgPcrDgSk7JTbKY  14jtPCOoNZwquk5wd9DxrY        NaN  NaN
2       07A5yehtSnoedViJAZkNnc  5LiOoJbxVSAMkBS2fUm3X2        NaN  NaN
3       08FmqUhxtyLTn6pAh6bk45  5LiOoJbxVSAMkBS2fUm3X2        NaN  NaN
4       08y9GfoqCWfOGsKdwojr5e  3BiJGZsyX9sJchTqcSA7Su        NaN  NaN
...                        ...                     ...        ...  ...
756761  0NuWgxEp51CutD2pJoF4OM  1dy5WNgIKQU6ezkpZs4y8z        NaN  NaN
756762  27Y1N4Q4U3EfDU5Ubw8ws2  37M5pPGs6V1fchFJSgCguX        NaN  NaN
756763  45XJsGpFTyzbzeWK8VzR8S  4jGPdu95icCKVF31CcFKbS        NaN  NaN
756764  45XJsGpFTyzbzeWK8VzR8S  5ebPSE9YI5aLeZ1Z2gkqjn        NaN  NaN
756765  5Ocn6dZ3BJFPWh4ylwFXtn  0i4Qda0k4nf7jnNHmSNpYv        NaN  NaN

        Popularity  id_genre
0              NaN       NaN
1              NaN       NaN
2              NaN       NaN
3              NaN       NaN
4              NaN       NaN
...            ...       ...
756761         NaN       NaN
756762         NaN       NaN
756763         NaN       NaN
756764         NaN       NaN
756765         NaN       NaN

[756766 rows x 6 columns]

In [223]:
print(arts_tracks)

                            Id                artistas
0       35iwgR4jXetI318WEWsa1Q  45tIt06XoI0Iio4LBEVpls
1       021ht4sdgPcrDgSk7JTbKY  14jtPCOoNZwquk5wd9DxrY
2       07A5yehtSnoedViJAZkNnc  5LiOoJbxVSAMkBS2fUm3X2
3       08FmqUhxtyLTn6pAh6bk45  5LiOoJbxVSAMkBS2fUm3X2
4       08y9GfoqCWfOGsKdwojr5e  3BiJGZsyX9sJchTqcSA7Su
...                        ...                     ...
586597  0NuWgxEp51CutD2pJoF4OM  1dy5WNgIKQU6ezkpZs4y8z
586598  27Y1N4Q4U3EfDU5Ubw8ws2  37M5pPGs6V1fchFJSgCguX
586599  45XJsGpFTyzbzeWK8VzR8S  4jGPdu95icCKVF31CcFKbS
586599  45XJsGpFTyzbzeWK8VzR8S  5ebPSE9YI5aLeZ1Z2gkqjn
586600  5Ocn6dZ3BJFPWh4ylwFXtn  0i4Qda0k4nf7jnNHmSNpYv

[756741 rows x 2 columns]

In [23]:
## CREAR Y CARGAR TABLA TRACKS
# Crear un cursor para ejecutar comandos en la base de datos
#cursor = conn.cursor()

# Crear una tabla en la base de datos
table_name = 'tracks'
create_table_query = '''
CREATE TABLE {} (
     id VARCHAR(50) PRIMARY KEY,
     name TEXT,
     popularity NUMERIC,
     duration_min NUMERIC,
     explicit NUMERIC,
     artists VARCHAR(5000),
     id_artists VARCHAR(5000) REFERENCES artists(Id),
     release_date NUMERIC,
     danceability NUMERIC,
     energy NUMERIC,
     key NUMERIC,
     loudness NUMERIC,
     mode NUMERIC,
     speechiness TEXT,
     acousticness NUMERIC,
     instrumentalness NUMERIC,
     liveness NUMERIC,
     valence NUMERIC,
     tempo NUMERIC,
     time_signature NUMERIC
)
'''.format(table_name)
cursor.execute(create_table_query)
conn.commit()

# Insertar los datos del DataFrame en la tabla
df = pd.read_csv('tracks_new.csv')
for index, row in df.iterrows():
    insert_row_query = '''
    INSERT INTO {} (id, name, popularity, duration_min, explicit, artists, id_artists, release_date, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature)
    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')
    '''.format(table_name, row['id'], row['name'], row['popularity'], row['duration_min'], row['explicit'], row['artists'], row['id_artists'], row['release_date'], row['danceability'], row['energy'], row['key'], row['loudness'], row['mode'], row['speechiness'], row['acousticness'], row['instrumentalness'], row['liveness'], row['valence'], row['tempo'], row['time_signature'])
    cursor.execute(insert_row_query)
conn.commit()

# Cerrar la conexión a la base de datos
cursor.close()
conn.close()

ForeignKeyViolation: inserción o actualización en la tabla «tracks» viola la llave foránea «tracks_id_artists_fkey»
DETAIL:  La llave (id_artists)=(3BiJGZsyX9sJchTqcSA7Su, 58wzyK6DupVsypvs3QV2Fo, 6lXiGaWjISZnER53ZJe6QO) no está presente en la tabla «artists».

In [342]:
conn.close()